@model ASP_1.Models.Forum.ForumThemesModel
@{
    ViewData["Title"] = "Тема";
}

<h1 class="display-4">@Model.Title</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    @foreach(var Topic in Model.Topics)
    {
       @Html.DisplayFor(m => Topic, "ForumTopic")
    }
</div>

@if (Model.UserCanCreate)
{
    <div class="row">
        <div class="col col-6">
            <h5>Задать вопрос</h5>
            @if (Model.CreateMessage is not null)
            {
                <h6>
                    <strong style='color: @(Model.isMessagePositive==true?"green":"red")'>@Model.CreateMessage</strong>
                </h6>
            }
            <form method="post" asp-action="CreateTopic">
                <div class="form-group">
                    <label for="topic-title">Вопрос</label>
                    <input type="text" id="topic-title"
                           name="topic-title"
                           class="form-control"
                           value="@(Model.formModel is null?"":Model.formModel.Title)"
                           placeholder="Введите заголовок вопроса" />
                </div>
                <div class="form-group">
                    <label for="topic-description" class="form-label">Описание</label>
                    <textarea class="form-control" id="topic-description"
                              name="topic-description"
                              placeholder="Введите описание вопроса"
                              rows="3">@(Model.formModel is null ? "" : Model.formModel.Description)</textarea>
                </div>
                <input type="hidden" name="theme-id" value="@Model.ThemeId" />
                <button class="btn btn-light mt-3" type=submit>Создать</button> 
            </form>
        </div>
    </div>
}